body {
  font-family: Verdana;
}

code {
  font-family: "Fira Code";
}

pre {
  border: 1px solid grey;
  background-color: #FFF;
}

table {
  border: 3px solid black;
  background-color: hsla(204, 100%, 50%, 5%);
}

thead {
  color: white;
  background-color: #1565C0;
}

table td, table th { padding: 0.25em 0.5em; }