<html>

<head>
<title>Lisa DeBruine</title>
</head>

<body>

<p>I'm going to start blogging random things about R and Open Science.</p>

<ul>
  <li><a href="r/rep">rep()</a></li>
  <li><a href="r/scale">scale()</a></li>
  <li><a href="r/coding">coding schemes</a></li>
  <li><a href="r/pca">pca</a></li>
</ul>

</body>
</html>
