@font-face{
    font-family: 'Fira Code';
    src: url('site_libs/fonts/FiraCode-Light.eot');
    src: url('site_libs/fonts/FiraCode-Light.eot') format('embedded-opentype'),
         url('site_libs/fonts/FiraCode-Light.woff2') format('woff2'),
         url('site_libs/fonts/FiraCode-Light.woff') format('woff'),
         url('site_libs/fonts/FiraCode-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face{
    font-family: 'Fira Code';
    src: url('site_libs/fonts/FiraCode-Regular.eot');
    src: url('site_libs/fonts/FiraCode-Regular.eot') format('embedded-opentype'),
         url('site_libs/fonts/FiraCode-Regular.woff2') format('woff2'),
         url('site_libs/fonts/FiraCode-Regular.woff') format('woff'),
         url('site_libs/fonts/FiraCode-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face{
    font-family: 'Fira Code';
    src: url('site_libs/fonts/FiraCode-Medium.eot');
    src: url('site_libs/fonts/FiraCode-Medium.eot') format('embedded-opentype'),
         url('site_libs/fonts/FiraCode-Medium.woff2') format('woff2'),
         url('site_libs/fonts/FiraCode-Medium.woff') format('woff'),
         url('site_libs/fonts/FiraCode-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face{
    font-family: 'Fira Code';
    src: url('site_libs/fonts/FiraCode-Bold.eot');
    src: url('site_libs/fonts/FiraCode-Bold.eot') format('embedded-opentype'),
         url('site_libs/fonts/FiraCode-Bold.woff2') format('woff2'),
         url('site_libs/fonts/FiraCode-Bold.woff') format('woff'),
         url('site_libs/fonts/FiraCode-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

code, pre, pre code { font-family: 'Fira Code'; }

/* styles for hidden solutions */
.solution {
  height: 2em;
  overflow-y: hidden;
  padding: 0.5em;
}
.solution.open { 
  height: auto; 
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}
.solution button {
  height: 1.5em;
  margin-bottom: 0.5em;
}
.solution pre.sourceCode {
  border-color: green;
}

/* styles for solveme */
.solveme { border: 2px dotted red; }
.solveme.correct { border: 2px solid blue; }
