// Smaller font for longer names
.portrait-title h2 {
  font-size: 1.5rem;
}

.dark table {
  color: #CCCCCC !important;
}

.dark .table td { border-top: 1px solid #444; }
.dark .table thead th { border-bottom: 2px solid #666; }
.dark .table tbody + tbody { border-top-: 2px solid #444; }

p.error, p.warning, p.info {
  padding: 0.5em;
  border-radius: 5px;
}

p.error {
  border: 1px solid hsla(0, 100%, 50%, 1);
  /*background-color: hsla(0, 100%, 50%, .05);*/
}

p.warning {
  border: 1px solid hsla(50, 100%, 50%, 1);
  /*background-color: hsla(50, 100%, 50%, .05);*/
}

p.info {
  border: 1px solid hsla(80, 100%, 50%, 1);
  /*background-color: hsla(80, 100%, 50%, .05);*/
}

:root {
    --rainbow1: #cc1616;
    --rainbow2: #dd9606;
    --rainbow3: #ead320;
    --rainbow4: #1cb22d;
    --rainbow5: #1c83b2;
    --rainbow6: #7a22c1;
    --rainbow7: #c121b3;
}

ul.network-icon li + li a i { color: var(--rainbow1); }
ul.network-icon li + li + li a i { color: var(--rainbow2); }
ul.network-icon li + li + li + li a i { color: var(--rainbow3); }
ul.network-icon li + li + li + li + li a i { color: var(--rainbow4); }
ul.network-icon li + li + li + li + li + li a i { color: var(--rainbow5); }
ul.network-icon li + li + li + li + li + li + li a i { color: var(--rainbow6); }
ul.network-icon li + li + li + li + li + li + li + li a i { color: var(--rainbow7); }
ul.network-icon li a:hover i { color: #212121; }



img.avatar {
  box-shadow: 0 0 0 2px var(--rainbow6),
              0 0 0 4px var(--rainbow5),
              0 0 0 6px var(--rainbow4),
              0 0 0 8px var(--rainbow3),
              0 0 0 10px var(--rainbow2),
              0 0 0 12px var(--rainbow1);
}

