<html>

<head>
<title>scale()</title>
</head>

<body>

<h2><code>scale(x, center = TRUE, scale = TRUE)</code></h2>

<p>You can use <code>scale()</code> to center and/or scale (i.e., Z-score) a vector of numbers.</p>

<ul>

  <li>Z-score a list of numbers
<!--begin.rcode
x <- c(10, 12, 14, 16, 18)
scale(x)
end.rcode-->
  </li>
  <li>However, the result contains the mean and SD. 
  This can cause problems if you want to assign it to a new column in a data frame, 
  which you can fix using <code>as.vector()</code>
<!--begin.rcode
as.vector(scale(x))
end.rcode-->
  </li>
  <li>I find it more straightforward to just use the equation for a Z-score
<!--begin.rcode
( x - mean(x) ) / sd(x)
end.rcode-->
  </li>
  <li>You can just center the numbers without scaling.
<!--begin.rcode
as.vector(scale(x, center=TRUE, scale=FALSE))
( x - mean(x) )
end.rcode-->
  </li>
  <li>Scaling without centering divides numbers by their root mean square.
<!--begin.rcode
as.vector(scale(x, center=FALSE, scale=TRUE))
x / sqrt(sum(x^2)/(length(x)-1))
end.rcode-->
  </li>
  <li>Set the scale to a number to divide by that number
<!--begin.rcode
as.vector(scale(x, center=FALSE, scale=3))
x / 3
end.rcode-->
  </li>
  <li>Create new columns in a dataframe with the scaled or centered variable
<!--begin.rcode
suppressMessages( library(tidyverse) )
df <- data.frame(id = seq(1,5), x = x)
df.s <- df %>%
  mutate(
    x.s = as.vector(scale(x)),
    x.c = as.vector(scale(x, scale=F)),
    x.z = (x - mean(x)) / sd(x)
  )
df.s
end.rcode-->
  </li>
  
</ul>
  
</body>
</html>
